.App {
  text-align: center;
  background-color: white;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  padding-top: 20px;
  width:40px;
 margin-left: 200px;
  display: flex;
  flex-direction: column;
  min-width: 200px;

  justify-content: center;
}

